@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.wrapper {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  float: left;
  display: flex;
  align-items: center;
  background: black;
}
.toggle-sidemenu {
  display: none;
}
header .logo {
  width: 46%;
  float: left;
  padding-left: 4%;
  margin: 0;
}
header .logo h4 {
  color: white;
  text-transform: uppercase;
}
header .logo h4 span {
  color: orangered;
}
.menu {
  width: 46%;
  float: left;
  padding-right: 4%;
  text-align: center;
}
.menu ul li {
  display: inline-block;
  width: 17%;
  color: white;
}
.menu ul li:nth-child(5) {
  background-color: orangered;
  width: 25%;
  border-radius: 15px;
  padding: 1% 0;
}

.menu ul li:nth-child(5):before {
  content: "\f0e0 ";
}
.about-section {
  width: 100%;
  float: left;
  text-align: center;
  background-image: url("../assets/images/banner.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.about-section-inner {
  width: 100%;
  float: left;
  padding-top: 8%;
  background: rgba(0, 0, 0, 0.8);
  padding-bottom: 13%;
  color: white;
}
.about-section-inner h1 {
  width: 40%;
  font-size: 3rem;
  font-weight: normal;
  margin: 0 auto;
}
.services {
  display: inline-block;
  width: 50%;
}
.service-matter {
  float: left;
  width: 29%;
  border: 1px solid #969494;
  margin: 2%;
  padding: 6% 0%;
}
.service-matter i {
  color: orangered;
  font-size: 4rem;
}
.service-matter p {
  margin-bottom: 0;
}
.client-section {
  width: 100%;
  float: left;
}
.client-details,
.clients-location {
  padding: 4%;
  width: 42%;
  float: left;
}
.testimonial-section {
  width: 100%;
  float: left;
  text-align: center;
  background-color: #f3f3f3;
  padding: 4% 0;
}

.message {
  width: 24%;
  display: block;
  text-align: left;
  position: relative;
  float: left;
  padding: 0 4%;
}

.clients-location img {
  width: 100%;
}
.client-message {
  width: 100%;
  padding: 14% 7%;
  background: white;
  border-radius: 20px;
  float: left;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
}
.client-message i {
  color: orangered;
  font-size: 21px;
}
.dowm-arrow {
  border-color: white transparent;
  border-style: solid;
  border-width: 22px 20px 0px 46px;
  height: 0px;
  width: 0px;
  position: absolute;
  bottom: 69px;
  left: 99px;
}
.client-info {
  width: 100%;
  float: left;
  margin-top: 7%;
}
.client-img {
  border: 5px solid white;
  border-radius: 25px;
  padding: 2%;
  float: left;
  background: burlywood;
  margin-right: 4%;
}
.client-info p {
  display: flex;
  align-items: center;
}
.client-info span {
  color: burlywood;
}
.contact-us {
  width: 100%;
  float: left;
  background-image: url("../assets/images/contact-us.jpg");
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
}
.contact-us-details {
  color: white;
  display: inline-block;
  width: 100%;
  padding: 6% 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.contact-us-form {
  width: 50%;
  display: inline-block;
  margin-top: 3%;
}
.full-name,
.email,
.phone {
  width: 29%;
  float: left;
  padding: 0 2%;
}
.form-control {
  border-radius: 4px;
  padding: 6% 8px;
  border: 0;
  width: 100%;
  float: left;
}
.address {
  width: 100%;
  float: left;
  padding: 0 2%;
  margin: 3% 0;
}
.address textarea {
  width: 96%;
  float: left;

  padding: 2% 1%;
}
.submit-btn {
  width: 100%;
  float: left;
}
.submit {
  background: orangered;
  border: 0;
  padding: 1%;
  border-radius: 21px;
  width: 18%;
  color: white;
  font-size: 18px;
}
.contact-us-details h1,
.contact-us-details h2 {
  font-weight: normal;
  margin: 0;
}
#mobile-menu {
  width: 0%;
  float: left;
  position: fixed;
  z-index: 1;
  top: 6%;
  display: none;
  // transition: 0.5s;
}
.get-in-touch {
  display: none;
}
#mobile-menu ul {
  width: 100%;
  float: left;
  background: white;
  padding: 0;
}
#mobile-menu ul li {
  width: 100%;
  // display: none;
}
#mobile-menu ul li:not(:nth-child(1)) {
  text-align: center;
  padding: 2% 0;
  border-bottom: 1px solid lightgray;
}
footer {
  width: 100%;
  float: left;
  background: #333232;
  color: gray;
  padding: 1% 0;
}
.copy-right {
  width: 50%;
  float: left;
  padding-left: 4%;
}
.follow-us {
  width: 42%;
  float: left;
  padding-right: 4%;
  text-align: right;
}
.follow-us i {
  color: lightgray;
  margin-right: 1%;
}
.closebtn {
  position: absolute;
  top: 9px;
  font-size: 36px;
  left: 0;
  list-style-type: none;
  text-align: right;
}
